<div class="row">
  <div class="col s12 center"><h2>Add an Organization</h2></div>
</div>
<%= form_for(@organization, url: add_locations_path, method: "get") do |f| %>
  <div class="input-field">
    <%= f.label :name, "Name of Organization" %><br>
    <%= f.collection_select(:name, @uniq_organizations, :id, :name) %>
  </div>
  <div class="action">
    <%= f.submit "Add Organization" %>
  </div>
<% end %>
