<h1>My organizations</h1>
<ol>
<% @v_organizations.each do |org| %>
  <h5><li><%= org.name %></li></h5>
  <% @shared_locations = org.locations & @v_locations %>
  <ul>
  <% @shared_locations.each do |loc| %>
    <h6><li>
      <%= loc.branch_name %>
    </li></h6>
      <% if loc.surveys.empty? %>
      <ul>
        <li>
        No Surveys To Complete
      </li>
    </ul>
      <% end %>
    <ul>
      <% loc.surveys.each do |survey| %>
        <h7><li> <%= survey.name %> |
          <% if @surveys.include? survey %>
            <span> Completed </span>
          <% else %>
            <span> Begin </span>
          <% end %>
        </li></h7>
      <% end %>
    </ul>
  <% end %>
  </ul>
<% end %>
</ol>

<%= link_to "Add Organizations", add_organizations_path %>
