<div class="nested-fields">

  <div class="field">
    <%= f.label :answer, "What responses would you like respondents to choose from? (This applies only for multiple choice and drop-down questions)" %>
    <%= f.text_field :answer, placeholder: "Potential Response"%>
  </div>

  <div style="text-align:right">
    <%= link_to_remove_association "Remove Response", f %>
  </div>

</div>
