/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */


$roboto-font-path: "roboto/" !default;
@import "materialize/components/roboto";

 @import "colorRules";
 @import "inputRules";
 @import 'materialize';
 @import 'home';
 @import "users";
 @import "volunteers";

// @import "https://fonts.googleapis.com/icon?family=Material+Icons";

/* BASE styles */

*,
*::before,
*::after
{
  box-sizing: inherit;
}

.volo {
  background-color: #00c188;
}

/* HOMEPAGE  */

.title {
  color: white;
  margin: 0;
}

.title-small {
  color: white;
  margin: 0;
}

.head {
  background-image: url("talk2.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 40rem;
}

.title-container {
  position: relative;
  top: 30%;
  left: 15%;
  width: 45%;
  margin: none;
}

.round {
  border-radius: 200px;
  height: 40px;
  background-color: white;
  color: #00c188;
  .round:hover {
    background-color: #00c188;
    color: white;
  }
}

.types {
  text-align: center;
  display: inline-block;
  padding: 3% 10%;
}

.desc {
  width: 20%;
  display: inline-block;
  margin: auto 3%;
}

.text-justify {
  text-align: justify;
}

#contain-left {
  padding: 3% 32% 3% 0%;
  margin-top: 7rem;
}

#contain-right {
  padding: 3% 0% 3% 32%;
  margin-top: 7rem;
}

.row {
  margin-bottom: 0px;
}

.main {
  width: 25%;
}

.volunteer-white {
  color: white;
}

.image-heart, .image-organization, .image-residents {
  margin-top: 7rem;
  margin-left: 7rem;
}

.container-1 {
}

.container-2 {
  background-image: url("volunteer-back.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 30rem;
  h3 {
    display: inline;
    position: relative;
    top: 20%;
  }
  p {
    display: inline;
  }
}


.container-3 {
  background-image: url("organization-back.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 30rem;
  h3 {
    display: inline;
    position: relative;
    top: 20%;
  }
  p {
    display: inline;
  }
}

.center {
  text-align: center;
}

.full-width {
  width: 100%;
}

.top-spacing {
  margin-top: 2rem;
}

.container-4 {
  background-image: url("residents-back.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 30rem;
  h3 {
    display: inline;
    position: relative;
    top: 20%;
  }
  p {
    display: inline;
  }
}

.button {
  text-align: center;
  margin: 1.5rem 0;
}

.list-of-actions {
  text-align: center;
}

// match page CSS starts

.match-filters {
  display: inline;
  width: 30%;
  float: left;
}

.results {
  display: inline;
  width: 68%;
  float: right;
  position: relative;
}

.match-avatar img{
  width: 20%;
  height: 20%;
  display: inline;
  border-radius: 5rem;
}

.ranking {
  position: relative;
  border: 1px solid grey;
  padding: 5%;
}

.match-user-name {
  position: absolute;
  font-weight: bold;
  font-size: 1.5rem;
  top: 0%;
  left: 22%;
}

.match-availability {
  position: absolute;
  top: 40%;
  left: 25%;
}

.match-score-container {
  position: absolute;
  // top: 10%;
  left: 75%;
}

.match-score {
  border: 1px solid yellow;
  background-color: yellow;
  padding: 5px;
}

.match-location {
  position: absolute;
  top: 50%;
  left: 25%;
}

.results-count {
  position: absolute;
  top: 12%;
  right: 0%;
}

.match-results {
  // border-bottom: 1px solid grey;
  // border-left: 1px solid grey;
  margin-bottom: 0;
  padding: 2%;
}


.logout {
  position: absolute;
  right: 5%;
}

.res-home {
  margin: auto;
  width: 93%;
  padding-top: 3%;
  background-color: white;
  height: 350px;
}

.res-avatar > img{
  margin-left: 4%;
  position: absolute;
  top: 9%;
  width: 120px;
  height: 120px;
  border-radius: 500px;
}

.res-info-container {
  margin-left: 3%;
}

.edit-res-profile {
  position: absolute;
  top: 7%;
  right: 18%;
}

.edit-res-profile > a {
  color: $voloGreen;
}

.res-show-container {
  background-color: $bodyGrey;
  height: 100%;
}


.profile-res {
  position: relative;
  min-height: 150px;
}
.res-show-name {
  margin-top: 4%;
  margin-left: 20%;
  margin-bottom: 11%;
  position: absolute;
  top: 15%;
}

.res-left {
  display: inline-block;
  width: 30%;
  float: left;
}

.res-right {
  display: inline-block;
  width: 70%;
  float: right;
  border-left: 1px solid $bodyGrey;
  padding-left: 1%;
  padding-bottom: 1%;
}

.res-org-name > b, .surveys > b, .res-loc-name > b {
  font-size: 1.25rem;
}

.surv{
  border-bottom: 1px solid $bodyGrey;
}

.surv-top {
  text-align: center;
}

.input-field {
  margin-left: 5%;
  margin-right: 5%;
}

.surv-submit {
  text-align: center;
  width: 90%;
  margin-bottom: 2%;
  margin-left: 5%;
}
// Organization Stylesheets

.orgStats {
  display: inline-block;
  width: 80%;
  position: relative;
  top: 100px;
  left: 155px;
}

.totalText {
  font-weight: 500;
  font-size: 2rem;
  color: #858585;
}

.orgTotals {
  display: inline-block;
  width: 20%;
}

.surveyName {
  border-bottom: 1px solid $bodyGrey;
}

.surveyTitle {
  width: 65%;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-top: 1rem;
  display: inline-block;
}

.surveyEdit {
  color: $voloGreen;
  margin-top: 5px;
  column-rule: white;
  border-radius: 20px;
  transition-duration: .2s;
  text-align: center;
  display: inline-block;
}

.greenText {
  color: $voloGreen;
}

.surveyView {
  width: 15%;
  display: inline-block;
  text-align: center;
  line-height: 2rem;
  height: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.add-edit-locations, .view-org-locations {
  width: 75%;
  margin-top: 4rem;
}

.create-match {
  position: relative;
  right: 50px;
  top: 75px;
  display: inline-block;
}

a.match-button {
  padding-left: 75px;
  padding-right: 75px;
}

.create-survey {
  width: 75%;
  margin-top: 5rem;
}
