$voloGreen:	#00c188;
$voloYellow: 	#f1b800;
$voloGrey: #858585;

$bodyGrey: #f5f5f5;
$footerGrey: #393939;

.voloGrey {
  color: $voloGrey;
}

.voloGreen {
  color: $voloGreen;
}

.voloYellow {
  color: $voloYellow;  
}
