// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  background: $bodyGrey;
  height: 100%;
}

body {
  margin-top: 54px;
  min-height: calc(100vh - 259px);
  position: relative;
}

footer .container {
  background: $footerGrey;
}

nav ul {
  float: right;
}

.page-footer {
  position: absolute;
  bottom: -205px;
  left: 0;
  right: 0;
}

.formContainer {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  min-height: 700px;
}

.voloHeaderLogo {
    position: absolute;
    left: 150px;
    padding: 0 15px;
    transition: background-color .3s;
}

.voloHeaderLogo:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.navLinks {
  min-width: 500px;
  float: right;
  text-align: right;
  margin-right: 150px;
}


.container-4 {
  margin-bottom: -51px !important;
}

.profileDash {
  background-color: $bodyGrey;
  min-height: 200px;
  position: relative;
}

.profilePhoto {
  height: 120px;
  width: 120px;
  border-radius: 500px;
  position: absolute;
  left: 0;
  top: 40px;
}

h1.org-name {
    font-size: 35px;
    position: absolute;
    top: 50px;
    left: 165px;
    margin-top: 0;
    color: $voloGrey;
}

a.profileDashEdit {
    position: absolute;
    top: 105px;
    left: 165px;
    color: $voloGreen;
}

.leftDash {
  height: 400px;
  display: inline-block;
  width: 35%;
  border-right: 2px $bodyGrey solid;
  position: relative;
}

.rightDash {
  width: 65%;
  padding-left: 5%;
  position: absolute;
  right: 0;
  top: 0;
}

.spacingDiv80 {
  background: $bodyGrey;
  height: 80px;
}

.spacingDiv120 {
  background: $bodyGrey;
  height: 120px;
}

.organizationSurveys {
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
}

.surveysOverallTitle {
  font-size: 1.5rem;
  border-bottom: 1px solid $bodyGrey;
  padding-bottom: 8px;
}

.previewContainer form {
  margin-left: 11%;
}

.previewContainer h3 {
  text-align: center;
}

.rankingPreview {
  display: inline-block;
  width: 100px;
  padding: 0;
  margin-left: 65px;
}
