input[type="other"] {
  padding: 10px 25px;
  background: transparent;
  border: 2px solid $voloGreen;
  border-radius: 20px;
  color: $voloGreen;
  font-weight: 600;
  transition-duration: .2s;
}

//opposite
input[type="submit"] {
  padding: 10px 25px;
  background: $voloGreen;
  border: 2px solid $voloGreen;
  border-radius: 20px;
  color: white;
  font-weight: 600;
  transition-duration: .2s;
}

input[type="other"]:hover {
  background: $voloGreen;
  color: white;
  transition-duration: .2s;
}

input[type="submit"]:hover {
  background: transparent;
  color: $voloGreen;
  transition-duration: .2s;
}

.create-survey a, .create-match a {
  padding: 10px 25px;
  background: $voloGreen;
  border: 2px solid $voloGreen;
  border-radius: 20px;
  color: white;
  font-weight: 600;
  transition-duration: .2s;
}

.create-survey a:hover, .create-match a:hover {
  background: transparent;
  color: $voloGreen;
  transition-duration: .2s;
}

.create-match a {
  position: absolute;
  right: 15px;
  top: 85px;
  padding: 10px 40px;
  border-radius: 50px;
}

.create-survey a {
  position: absolute;
  top: 80px;
}

.create-survey {
  width: 50%;
  margin: 0 auto;
}
