input[type="other"] {
  padding: 10px 25px;
  background: transparent;
  border: 2px solid $voloGreen;
  border-radius: 20px;
  color: $voloGreen;
  font-weight: 600;
  transition-duration: .2s;
}

//opposite
input[type="submit"] {
  padding: 10px 25px;
  background: $voloGreen;
  border: 2px solid $voloGreen;
  border-radius: 20px;
  color: white;
  font-weight: 600;
  transition-duration: .2s;
}

input[type="other"]:hover {
  background: $voloGreen;
  color: white;
  transition-duration: .2s;
}

input[type="submit"]:hover {
  background: transparent;
  color: $voloGreen;
  transition-duration: .2s;
}

.create-survey a {
  padding: 10px 25px;
  background: $voloGreen;
  border: 2px solid $voloGreen;
  border-radius: 20px;
  color: white;
  font-weight: 600;
  transition-duration: .2s;
}

.create-survey a:hover {
  background: transparent;
  color: $voloGreen;
  transition-duration: .2s;
}
