input[type="other"] {
  padding: 10px 25px;
  background: transparent;
  border: 2px solid $voloGreen;
  border-radius: 20px;
  color: $voloGreen;
  font-weight: 600;
  transition-duration: .2s;
}

.register-button {
 padding: 10px 25px;
 background: white;
 border: 2px solid white;
 border-radius: 20px;
 color: $voloGreen;
 font-weight: 600;
 transition-duration: .2s;
}

.register-button:hover {
  background: $voloGreen;
  border: 2px solid $voloGreen;
  color: white;
  transition-duration: .2s;
}

//opposite
input[type="submit"] {
  padding: 10px 25px;
  background: $voloGreen;
  border: 2px solid $voloGreen;
  border-radius: 20px;
  color: white;
  font-weight: 600;
  transition-duration: .2s;
}

input[type="other"]:hover {
  background: $voloGreen;
  color: white;
  transition-duration: .2s;
}

input[type="submit"]:hover {
  background: transparent;
  color: $voloGreen;
  transition-duration: .2s;
}

.add-edit-locations a, .view-org-locations a, a.add-content.add_fields, a.remove_fields.dynamic, a.remove_fields.existing, a.add_fields, .back-to-profile  {
  padding: 10px 25px;
  background: transparent;
  border: 2px solid $voloGreen;
  color: $voloGreen;
  column-rule: white;
  border-radius: 20px;
  font-weight: 600;
  transition-duration: .2s;
  text-align: center;
}

a.remove_fields.dynamic, a.remove_fields.existing {
  margin-right: 5%;
}

.remove-content {
  text-align: right;
  display: inline-block;
  position: relative;
  left: 72%;
  top: 1.5rem;
}

// a.remove_fields.dynamic {
//   margin-right: 5%;
// }

a.add-content.add_fields, a.add_fields {
  margin-left: 5%;
  margin-top: 10%;
}

a.add-content.add_fields:hover {
  padding: 10px 25px;
  background: $voloGreen;
  border: 2px solid $voloGreen;
  color: white;
  column-rule: white;
  border-radius: 20px;
  font-weight: 600;
  transition-duration: .2s;
  text-align: center;
}

.create-survey a, .create-match a {
  background: $voloGreen;
  border: 2px solid $voloGreen;
  color: white;
  column-rule: white;
  border-radius: 20px;
  font-weight: 600;
  transition-duration: .2s;
  text-align: center;
  width: 50px;
}

.create-survey a {
  padding: 10px 34px;
  margin-left: 20%;
}

a.add_fields {
  padding: 10px 26px;
  // margin-left: 37%;
}

.create-match a {
  padding: 10px 25px;
}

.add-edit-locations a {
  padding: 10px 38px;
  margin-left: 19%;
}

.view-org-locations a {
  padding: 10px 36px;
  margin-left: 19%;
}

.match-button:hover, .create-survey-text:hover {
  background: transparent;
  color: $voloGreen;
  transition-duration: .2s;
}

.add-edit-location-text:hover, .view-org-locations a:hover {
  background: $voloGreen;
  color: white;
  transition-duration: .2s;
}

.editSurveyPreview{
  padding: 10px 25px;
  background: transparent;
  border: 2px solid $voloGreen;
  border-radius: 20px;
  color: $voloGreen;
  font-weight: 600;
  transition-duration: .2s;
  display: inline-block;
}

.editSurveyPreview:hover {
  background: $voloGreen;
  color: white;
  transition-duration: .2s;
}

.completeSurveyPreview {
  padding: 10px 25px;
  background: $voloGreen;
  border: 2px solid $voloGreen;
  border-radius: 20px;
  color: white;
  font-weight: 600;
  transition-duration: .2s;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 15px;
}

.completeSurveyPreview:hover {
  background: transparent;
  color: $voloGreen;
  transition-duration: .2s;
}

.edit-res-link, .res-edit-surv, .res-take-surv, .res-del-surv {
  padding: 5px 15px;
  background: transparent;
  border: 2px solid $voloGreen;
  color: $voloGreen;
  column-rule: white;
  border-radius: 20px;
  font-weight: 600;
  transition-duration: .2s;
}

.res-edit-surv, .res-take-surv, .res-del-surv{
  float: right;
  margin: 5px;
}

.res-edit-surv:hover {
background: $voloGreen;
color: white;
transition-duration: .2s;
}

.res-del-surv:hover {
background: $voloGreen;
color: white;
transition-duration: .2s;
}

.res-take-surv:hover {
background: $voloGreen;
color: white;
transition-duration: .2s;
}

.edit-res-link:hover {
background: $voloGreen;
color: white;
transition-duration: .2s;
}

.back-to-profile {
  margin-left: 1%;
}
