// Place all the styles related to the Organizations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.surveyTitle {
  width: 70%;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-top: 1rem;
}

.surveyView, .surveyEdit {
  width: 15%;
  color: $voloGreen;
}

a.surveyEdit {
  color: white;
  padding: 10px 25px;
  background: transparent;
  border: 2px solid $voloGreen;
  color: $voloGreen;
  column-rule: white;
  border-radius: 20px;
  font-weight: 600;
  transition-duration: .2s;
  text-align: center;
}
