.sign-up-type {
  padding-top: 6rem;
  text-align: center;
}

.sign-up-type h5:hover {
  color: $voloYellow;
  transition-duration: 0.2s;
}

.sign-up-type-title {
  color: grey;
  transition-duration: 0.2s;
}

.cancel {
  text-align: center;
}

.button {
  text-align: center;
}

.back {
  text-align: center;
}
