// Place all the styles related to the Volunteers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit-profile {
  padding-top: 1rem;
}

.my-org {
  text-align: center;
}

.dashboard {
  margin-top: 2rem;
}
