<ol>
  <% @surveys.each do |survey| %>
    <li> <%= survey.name %> </li>
      <ul>
        <li> <%= link_to "Assign Locations", assign_locations_path(id: params[:id], survey_id: survey.id) %> </li>
      </ul>
  <% end %>
</ol>
